<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Add Your Secrets Anonymously!</h1>
    <div class="row">
    <% var i=1 %>
    <% usersWithSecrets.forEach(function(user, index1){ %>
      <% user.secret.forEach(function(secret, index2){ %>
        <div class="col-sm">
        <!-- <p class="secret-text"><%=secret%></p> -->
        <div class="card" style="width: 18rem;">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Secret Number <%=i%></h5>
            <% i=i+1 %>
            <p class="card-text"><%=secret%></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
      <% }) %>
    <% }) %>
   </div>


    <hr>
    <% if(login){ %>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <% } %>
    <% if(!login){ %>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
